<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords.html_safe %>"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <div id="background"></div>
      <%= render 'shared/application_nav' %>

      <main role="main" class="inner cover">
        <%= yield %>
      </main>

      <%= render 'shared/application_footer' %>

      <%= source_helper('application') %>



    </div>
  </body>
</html>
